
/.spyproject
/.spyproject
/my_venv
.spyproject/config/workspace.ini
.Rproj.user
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021.zip
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021.zip
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021.zip
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021.zip
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021.zip
input/shapefile_data/shapefile_zip/BGD_adm.zip
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGC42FL/BDGC42FL.csv
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.dbf
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm3.shx
input/shapefile_data/shapefile_zip/BGD_adm/license.txt
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm3.prj
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm3.shp
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm3.dbf
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm3.cpg
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm3.csv
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm2.shx
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm2.shp
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm2.dbf
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm2.prj
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm2.cpg
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm1.shp
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm1.shx
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm1.prj
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm2.csv
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm1.dbf
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm1.cpg
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm0.shx
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm0.dbf
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm0.csv
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/GPS_Displacement_README.txt
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.shp.xml
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.dbf
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.shx
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.prj
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.cpg
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/DHS_README.txt
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm0.cpg
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGC7RFL/BDGC7RFL/DHS Covariates Extract Data Description_3.pdf
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.shx
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.sbn
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/GPS_Displacement_README.txt
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.sbx
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGC72FL/BDGC72FL.csv
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/GPS_Metadata_Template.xml
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.dbf
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.sbx
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGC72FL/DHS Covariates Extract Data Description 2.pdf
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/DHS_README.txt
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.cpg
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.sbx
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGC7RFL/BDGC7RFL/BDGC7RFL.csv
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.shp.xml
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm0.shp
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/DHS_README.txt
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGC62FL/DHS Covariates Extract Data Description 2.pdf
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.dbf
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.prj
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.dbf
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.shp
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.prj
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGC62FL/BDGC62FL.csv
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.shx
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.sbn
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.shp
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.prj
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.shx
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/DHS_README.txt
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.shp.xml
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.shp.xml
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.shx
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGE52FL/BDGE52FL.sbx
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/DHS_README.txt
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.sbx
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.sbn
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGC4JFL/BDGC4JFL.csv
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/DHS_README.txt
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.prj
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.shp.xml
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/ERRATA.txt
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGC4JFL/DHS Covariates Extract Data Description 2.pdf
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.dbf
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.prj
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.sbn
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.shp
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.shx
input/shapefile_data/shapefile_zip/BD_2004_DHS_03252024_1554_182021/BDGE4JFL/BDGE4JFL.shp
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGC52FL/DHS Covariates Extract Data Description 2.pdf
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.sbx
input/shapefile_data/shapefile_zip/BD_2011_DHS_03252024_1554_182021/BDGE61FL/BDGE61FL.sbn
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGE42FL/BDGE42FL.sbn
input/shapefile_data/shapefile_zip/BD_2007_DHS_03252024_1554_182021/BDGC52FL/BDGC52FL.csv
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/BDGE7SFL.shp
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.shp.xml
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm0.prj
input/shapefile_data/shapefile_zip/BGD_adm/BGD_adm1.csv
input/shapefile_data/shapefile_zip/BD_2017-18_DHS_03252024_1554_182021/BDGE7SFL/Data_Alert_README.txt
output/img/Weight for Age Z-score density.jpeg
input/shapefile_data/shapefile_zip/BD_1999-00_DHS_03252024_1553_182021/BDGC42FL/DHS Covariates Extract Data Description 2.pdf
input/shapefile_data/shapefiles_corrected.xlsx
input/shapefile_data/shapefiles_corrected.xlsx
input/shapefile_data/shapefile_zip/BD_2014_DHS_03252024_1554_182021/BDGE71FL/BDGE71FL.shp
output/img/Weight for Age Z-score density.jpeg
output/img/Weight for Age Z-score density.jpeg
input/shapefile_data/shapefiles_corrected.xlsx
input/diff_in_diff_est.xlsx
input/shapefile_data/shapefiles_corrected.xlsx
output/data/df_interest.xlsx
input/shapefile_data/shapefiles_corrected.xlsx
input/shapefile_data/shapefiles_corrected.xlsx
input/shapefile_data/shapefiles_corrected.xlsx
input/~$diff_in_diff_est.xlsx
test.docx
input/shapefile_data/shapefiles_corrected.xlsx
